<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/fe474b031e.js"></script>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Avengers</title>
</head>
<body>
        <nav class="navbar navbar-light navbar-expand-lg">
            <a class="navbar-brand" href="/heroes">Avengers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link navTitle" href="/heroes">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navTitle" href="/heroes/new">New Avenger</a>
                  </li>
                <li class="nav-item dropdown">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Home</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/heroes/new">New Avenger</a>
                    </div>
                </li>
            </div>
        </nav>